<form ng-submit="onSubmit()">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Nombre" ng-model="cuenta.firstname" required>
  </div>
 
  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input type="text" class="form-control" id="apellido" placeholder="Apellido" ng-model="cuenta.lastname" required>
  </div>


   <div class="form-group">
    <label for="correo">Correo</label>
    <input type="text" class="form-control" id="correo" placeholder="Correo" ng-model="cuenta.mail">
  </div>

   <div class="form-group">
    <label for="nrocta">Nro. Cta.</label>
    <input type="text" class="form-control" id="nrocta"  ng-model="cuenta.accountNumber" required>
  </div>

   <div class="form-group">
    <label for="moneda">Moneda</label>
    <select id="moneda" class="form-group" ng-options="item.denominacion as item.moneda for item in tipo_moneda" ng-model="cuenta.currency" required>

        <option value="">Seleccione...</option>

    </select>
  </div>

     <div class="form-group">
    <label for="monto">Monto</label>
    <input type="text" class="form-control" id="monto"  ng-model="cuenta.amount" required>
  </div>



  <button type="submit" class="btn btn-default">Crear</button>
</form> 